<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "school" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="header">
      <a href="#" id="menu-btn"></a>
      <nav>
        <ul>
          <% if  user_signed_in? %>
            <li class="top"><%= link_to "sign_out", destroy_user_session_path, method: "DELETE" %></li>
          <% else %>
            <li><%= link_to "log_in", new_user_session_path %></li>
            <li><%= link_to "sign_up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <div class="side-bar side-bar_hidden">
      <nav>
        <ul>
          <a href="/">
            <span>home</span>
          </a>
          <li>
            <span>my friends</span>
          </li>
          <li>
            <span>my gurupu</span>
          </li>
          <li>
            <span>time line</span>
          </li>
        </ul>
      </nav>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
